                <datasource jndi-name="{{datasourceName}}" pool-name="PortalDS" enabled="true" jta="true" use-java-context="true" use-ccm="true">
                    <connection-url>{{databaseURL}}</connection-url>
                    <driver>{{databaseType}}</driver>
                    <security>
                        <user-name>{{databaseUsername}}</user-name>
                        <password>{{databasePassword}}</password>
                    </security>
                </datasource>