    <server-groups>
        <server-group name="lumisportal-server-group" profile="default">
            <jvm name="default">
                <heap size="{{Xms}}" max-size="{{Xmx}}"/>
                <permgen size="256m" max-size="{{MaxPermSize}}"/>
                <jvm-options>
                    <option value="-server"/>
                </jvm-options>
            </jvm>
            <socket-binding-group ref="standard-sockets"/>
            <deployments>
                <deployment name="lumisportal.war" runtime-name="{{contextName}}.war"/>
            </deployments>
            <system-properties>
                <property name="org.apache.catalina.connector.URI_ENCODING" value="UTF-8"/>
            </system-properties>
        </server-group>
    </server-groups>