    <system-properties>
        <property name="javax.xml.transform.TransformerFactory" value="org.apache.xalan.xsltc.trax.SmartTransformerFactoryImpl"/>
        <property name="org.apache.catalina.connector.URI_ENCODING" value="UTF-8"/>
        <property name="lumis.portal.lumisDataPath" value="{{lumisDataPath}}"/>
    </system-properties>